body {
    font-family: 'Work Sans', sans-serif;
}

h1 {
    font-size: 60px;
}

.orange-color {
    color : orange;
}

section {
    display: flex;
}

.half-width {
    width: 50%;
    padding-left: 10%;
}

.half-width img {
    width: 60%;
}

.link-button {
    text-decoration: none;
    background-image : linear-gradient(orange, salmon);
    padding: 7px 7px;
    color : whitesmoke;
    font-weight: bold;
    border-radius: 5px;
    font-size: 15px;
}